*{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: calc(60% - 20px);
    min-height: 500px;
    padding: 10px;
    background: skyblue;
    margin: 20px auto;
    display:inline-block;
    margin-left: 300px;
}

.ordenador {
    min-height:200px;
    text-align: center;
}

#imagen_ordenador {
    min-height: 150px;
}

.jugador {
    min-height:200px;
    text-align: center;
}

#imagen_jugador {
    min-height: 150px;
}

.resultado{
    background: black;
    color: white;
    min-height: 50px;
    font-size: 16px;
}

#resultado{
    padding: 40px;
    text-align: center;
}

.botones{
    text-align: center;
}   

button > img{
    height: 100px;
    width: 100px;
}

#inicializar{
    height: 50px;
    width: 100px;
    align-content: flex-end;
    display:inline-block;
}

#texto_ordenador{
    vertical-align: baseline;
}

h1{
    float:center;
}



